.titleInput {
  width: 100%;
  background-color: #22272b;
  font-weight: 400;
  height: fit-content;
  resize: none;
  color: #b6c2cf;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

.addNewCard {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  width: 100%;
}

.closeaddcardbutton {
  background-color: #111205;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.addCardButton {
  background-color: #579cfe;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #2d4563;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  padding-inline: 10px;
}
