.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cardlist-container {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}

.addcard {
  display: flex;
  width: 100%;
  margin-top: 8px;
  min-height: 30px;
  align-items: center;
  border-radius: 5px;
  padding-left: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.addcardbutton {
  background-color: transparent;
  border: none;
  width: 100%;
  color: #9fadbc;
  text-align: start;
  padding-left: 10px;
  font-weight: bold;
  cursor: pointer;
}

.addcard:hover {
  background-color: #22272b;
  color: #fff;
}
