.toolbar {
  background-color: #0a4175;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

.dashboard-title {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.favorite-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.favorite-button:hover {
  background-color: #275985;
}

.toolbar-button {
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  gap: 5px;
}

.toolbar-button:hover {
  background-color: #275985;
}

.dash-button {
  color: #354662;
  padding: 8px;
  border-radius: 2px;
  border: none;
  font-weight: bold;
}

.dash-button:hover {
  background-color: #c0c0c0;
}

.list-button {
  color: #fff;
  background-color: transparent;
  padding: 8px;
  border-radius: 2px;
  border: none;
  font-weight: bold;
  font-size: 15px;
}

.list-button:hover {
  background-color: #275985;
}

.left-side {
  display: flex;
  padding-left: 1vw;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 40vw;
}

.right-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #9fadbc;
  gap: 5px;
  width: 60vw;
}
